// Core
@import 'node_modules/nhsuk-frontend/packages/core/all';

// Individual components
@import 'node_modules/nhsuk-frontend/packages/components/skip-link/skip-link';
@import 'node_modules/nhsuk-frontend/packages/components/header/header';
@import 'node_modules/nhsuk-frontend/packages/components/footer/footer';
@import 'node_modules/nhsuk-frontend/packages/components/breadcrumb/breadcrumb';
@import 'node_modules/nhsuk-frontend/packages/components/back-link/back-link';
@import 'node_modules/nhsuk-frontend/packages/components/button/button';
@import 'node_modules/nhsuk-frontend/packages/components/care-card/care-card';
@import 'node_modules/nhsuk-frontend/packages/components/action-link/action-link';
@import 'node_modules/nhsuk-frontend/packages/components/error-message/error-message';
@import 'node_modules/nhsuk-frontend/packages/components/label/label';
@import 'node_modules/nhsuk-frontend/packages/components/input/input';
@import 'node_modules/nhsuk-frontend/packages/components/details/details';
@import 'node_modules/nhsuk-frontend/packages/components/panel/panel';
@import 'node_modules/nhsuk-frontend/packages/components/warning-callout/warning-callout';

.highlight {
	background: #fada8b;
};

// Quick fix. Taken from a newer version of FE library until we can update properly.
/* ==========================================================================
   COMPONENTS / #INSET-TEXT
   ========================================================================== */

/**
 * 1. Removes top margin from first element and bottom margin from last,
 *    to ensure correct spacing within the component.
 * 2. Restricts the width of the text to optimise the line length for
 *    readability.
 */

 .nhsuk-inset-text {
	@include top-and-bottom(); /* [1] */
	@include reading-width(); /* [2] */
  
	@include nhsuk-responsive-margin(7, 'bottom');
	@include nhsuk-responsive-margin(7, 'top');
	@include nhsuk-responsive-padding(4);
  
	border-left: $nhsuk-border-width-inset-text solid $color_nhsuk-blue;
  
	@include mq($media-type: print) {
	  border-color: $nhsuk-print-text-color;
	}
  
  }
